/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 13%, rgba(214,219,216,1) 13%);
}

#app{
    display: flex;
    height: 100%;
}

/* COMMON */
.container{
    margin: auto;
    background-color: blueviolet;
    max-width: 1280px;
    height: calc(100% - 50px);
    display: flex;
}

img {
    width: 50px;
    border-radius: 50%;
}

/* CONTACTS */
.contacts-col {
    display: flex;
    width: 535px;
    flex-direction: column;
}

.my-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 70px;
    padding: 0 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    margin-right: 5px;
}

.icon{
    margin: 0 7px;
    font-size: 15px;
    color: #b1b1b1;
}

.icon i{
    margin: 0 8px;
}

.notifications{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon-notification{
    width: 40px;
    height: 40px;
    background-color: white;
    color: #8edafc;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 10px;
}

.text a{
    color: #b1b1b1;
}

.search{
    display: flex;
    background-color: white;
    padding: 20px;
}

.search button, input {
    font-size: 14px;
    padding: 6px 13px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.search input {
    cursor: text;
    width: 400px;
}

.list-contact{
    background-color: white;
    flex-grow: 1;
    overflow-y: scroll;
}

.list-message{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.user .description{
    margin-left: 5px;
}
.info{
    position: absolute;
    right: 10px;
    top: 10px;
}

.list-contact small{
    color: #b6c4d4;
}

.active{
    background-color: #e9ebeb;
}
/* CHAT */
.chat{
    width: calc(1280px - 535px);
}

