<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- css style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css style -->
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- /Google Fonts  -->
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /Fontawesome CDN -->
    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Vue.js CDN -->
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /Axios CDN -->
    <!-- moment CDN -->
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <!-- /moment CDN -->
    
</head>
<body>
    <div id="app">
        <div class="container">
    <!-- CONTACTS COL -->
            <div class="contacts-col">
                <div class="my-contact">
                    <div class="user">
                        <img src="img/avatar_5.jpg" alt="">
                        <span>Alessandro</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notifications">
                    <div class="icon-notification">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- SEARCH BAR CONTATTI -->
                <form class="search" @submit.prevent="">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchText" >
                </form>
                <!-- /SEARCH BAR CONTATTI -->

                <!-- SEZIONE CONTATTI -->
                <div class="list-contact">
                    <div class="list-message" :class="{'active' : index === contactIndex}" v-for="(contact, index) in contacts" @click="openChat(index)" v-show="filterContactList(contact)">
                        <div class="user">
                            <img :src="`img/avatar${contact.avatar}.jpg`" :alt="`${contact.name}_avatar_pic`">
                            <div class="description">
                                <h4>{{contact.name}}</h4>
                                <small>{{ contact.messages[contact.messages.length - 1].message }}</small>
                            </div>
                        </div>
                        <div class="info">
                            <small>{{contact.messages[contact.messages.length - 1].date }}</small>
                        </div>
                    </div>
                </div>
                <!-- /SEZIONE CONTATTI -->

            </div>
    <!-- /CONTACTS COL -->    

    <!-- CHAT COL -->
            <div class="chat">
                <div class="contact-chat">
                    <div class="user-chat">
                        <img :src="`img/avatar${contacts[contactIndex].avatar}.jpg`" alt="`${contact.name}_avatar_pic`">
                        <div class="description-chat">
                            <h5>{{contacts[contactIndex].name}}</h5>
                            <small>{{ contacts[contactIndex].messages[contacts[contactIndex].messages.length - 1].date }}</small>
                        </div>
                    </div>
                    <div class="user-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- MAIN CHAT-CONTENT -->
                <div class="content">
                    <div class="message-row">
                        <div class="message" v-for="(message, index) in contacts[contactIndex].messages" :class="message.status">
                            <p @click="removeMessage(index)">{{message.message}}</p>
                            <small>{{message.date}}</small>
                        </div>
                    </div>
                </div>
                <!-- /MAIN CHAT-CONTENT -->

                <!-- FORM CHAT -->
                <form class="new-message" @submit.prevent="createNewMessage">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage">
                    <i class="fa-solid fa-microphone"></i>
                </form>
                <!-- /FORM CHAT -->
                
            </div>
    <!-- /CHAT COL -->

        </div>
    
    </div>
    <script src="js/main.js"></script>
</body>
</html>